body{

font-family:Tahoma;
background:#071019;
color:white;
text-align:center;

}

header{

background:#0d1825;
padding:20px;

}

nav a{

color:white;
margin:10px;

}

.course{

background:#0d1825;
padding:20px;
margin:20px;
border-radius:10px;

}

button{

padding:10px 14px;
background:#66ffd8;
border:none;
cursor:pointer;

}

.progress{

width:300px;
height:15px;
background:#111;
margin:auto;
border-radius:10px;

}

#bar{

height:15px;
width:0%;
background:#66ffd8;

}
